/* - - - imports Fuentes - - - */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"); /* font-family: "Prompt", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap"); /* font-family: 'ABeeZee', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap"); /* font-family: 'Asap', sans-serif; */
/* - - - imports Fuentes - - - */

/* Codigo clasificado por orden de aparicion en CartItem.jsx */
.cartMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cartItem {
  background-color: #ffdddd;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.badges {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bubbleQuantity {
  position: relative;
  right: 255px;
  bottom: 15px;
  font-size: 16px;
}
.bubbleClose {
  position: relative;
  left: 255px;
  bottom: 15px;
  font-size: 16px;
}
.cartContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 43.19px;
}
.cartImgContainer {
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
.propContainer {
  height: 100%;
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-left: #680000 solid 2px;
}
.cartTitleProp {
  font-family: "Asap", sans-serif;
  margin: 15px;
  text-align: center;
  letter-spacing: 5px;
  border-bottom: #680000 solid 2px;
}
.cartPriceProp {
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  font-size: 24px;
  margin: 5px;
}
.priceCart {
  margin: 0px 4px 0px 4px;
  text-align: center;
}
